DATABASE_URL="postgresql://USER:PASSWORD@ep-xxxxx-pooler.REGION.aws.neon.tech/DBNAME?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://USER:PASSWORD@ep-xxxxx.REGION.aws.neon.tech/DBNAME?sslmode=require&channel_binding=require"
# Tem que ter pelo menos 32 caracteres. Gere com: openssl rand -base64 32
SESSION_PASSWORD="troque-esta-senha-com-pelo-menos-32-caracteres-aqui"
