@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f7fafa;
  color: #0a2a2a;
  min-height: 100%;
}

.fc .fc-button-primary {
  background-color: #06b6d4 !important;
  border-color: #06b6d4 !important;
}
.fc .fc-button-primary:hover {
  background-color: #0891b2 !important;
  border-color: #0891b2 !important;
}
.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  background-color: #0e7490 !important;
  border-color: #0e7490 !important;
}
.fc .fc-today-button {
  text-transform: capitalize;
}
